* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-image: url('background.jpg');
}



.App {
  font-family: sans-serif;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

h1 {
  color: black;
  font-weight: 300;
  text-align: center;
}
