* {
  box-sizing: border-box;
}

html {
  background-image: url("background.jpg");
  background-size: cover;
}

.App {
  font-family: sans-serif;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

h1 {
  color: black;
  font-weight: 300;
  text-align: center;
}
