* {
  box-sizing: border-box;
}

<<<<<<< HEAD
body, html {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-image: url('background.jpg');
=======
html {
  background-color: gray;
>>>>>>> 1f7c4abf119d6996eb822f470b20bdd85229ed81
}



.App {
  font-family: sans-serif;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

h1 {
  color: black;
  font-weight: 300;
  text-align: center;
}
